/*
mobile
*/
@media all and (max-width: 579px){
    .img-1{
        width: 100%;
    }

}

/*
tablet
*/
@media all and (min-width: 580px) and (max-width: 1079px){
    .img-1{
        width: 100%;
    }

}

/*
bigscreen
*/
@media all and (min-width: 1080px){


    .img-1{
        width: 50%;
    }
}

body{
    background-color: #F5F5F5;   
}


img{
    height: auto;
    max-height: 300px;
    width: 100%;
}
.img-1{
    float: left;

}
.lorem-ipsum{
    float: clear;
    background-color: #FAFAFA;
}
.lorem-ipsum h2{
    text-align: center;
}




