/*
mobile
*/
@media all and (max-width: 579px){
    .img-1{
        width: 100%;
    }
    .img-2{
        width: 100%;
    }

}

/*
tablet
*/
@media all and (min-width: 580px) and (max-width: 1079px){
    .img-1{
        width: 100%;
    }
    .img-2{
        width: 100%;
    }

}

/*
bigscreen
*/
@media all and (min-width: 1080px){


    .img-1{
        width: 50%;
    }
    .img-2{
        width: 50%;
    }
}
 
body{
 background-color: #F5F5F5;   
}

.img-1{
    float: left;
    height: 400px;
     min-width: 50%;
}
.img-2{
    float: left;
    height: 400px;
     min-width: 50%;

}
img{
    height: 400px;
}
.lorem-ipsum{
    background-color: #FAFAFA;
}
.lorem-ipsum h2{
    text-align: center;
}



footer{
 background-color: #F5F5F5;   
}
