/*
mobile
*/
@media all and (max-width: 580px){
    .accomodation{
        width: 100%
    }

}

/*
tablet
*/
@media all and (min-width: 580px) and (max-width: 1080px){
    .accomodation{
        width: 45%;   
    }

}

/*
bigscreen
*/
@media all and (min-width: 1080px){
      .accomodation{
        width: 22%;
    }

}


.accomodations{
    position: relative;
    min-width: 100%;
    background-color: darkblue;
    
}



.accomodation {
    background-color: aquamarine;
    display: block;
    float: left;
    margin: 0.5%;
    padding: 0.5%;
    position: relative;
    min-width: 40%;
    height: 350px;
    border: 1px solid black;
    text-align: center;
    
}
.accomodation .description {
    margin-top: 5px;
    display: block;
    height: auto;
    min-height: 95px;
    width: 100%;
    border: 1px solid black;
}
img {
    display: block;
    margin: auto;
    max-height: 250px;
    max-width: 100%;
    
}