/*
mobile
*/
@media all and (max-width: 580px){
    .accomodation{
        width: 100%
    }

}

/*
tablet
*/
@media all and (min-width: 580px) and (max-width: 1080px){
    .accomodation{
        width: 48.6%;   
    }

}

/*
bigscreen
*/
@media all and (min-width: 1080px){
      .accomodation{
        width: 23.8%;
    }
}



header{
    float: clear;
    display: block;
    background-color:cadetblue;  
}
header img{
    display: block;
    max height: 200px;
    max width: 100%;
    margin: auto;
}
.accomodations{
    min-height: 80%;
    min-width: 100%;
    background-color: darkblue;
    float: left;
    
}
.accomodation {
    background-color: aquamarine;
    float: left;
    margin: 0.25%;
    padding: 0.25%;
    height: auto;
    border: 1px solid black;
    text-align: center;
    
}
.accomodation .description {
    margin-top: 5px;
    display: block;
    height: auto;
    min-height: 95px;
    width: 100%;
    border: 1px solid black;
}
.accomodations img {
    display: block;
    margin: auto;
    max-height: 250px;
    max-width: 100%;
    
}