
/*
mobile
*/
@media all and (max-width: 580px){
    .navigationmenu {
        display: none;
        height: 0px;
    }
    .navigationmenu {
        visibility: visible;
    }

}
/*
tablet
*/
@media all and (min-width: 580px) and (max-width: 1080px){
    .navigationmenu-mobile{
        display: none;
        height: 0px;
    }
    .navigationmenu {
        visibility: visible;
    }

}
/*
bigscreen
*/
@media all and (min-width: 1080px){
    .navigationmenu-mobile{
        display: none;
        height: 0px;
    }
    .navigationmenu {
        visibility: visible;

    }


}



.header{
    
  
    float:left;
    min-height: 10%;
    background-color: black;
  
}


.navigationmenu-mobile{
    border: 1px solid black;
    text-align: center;
    width: auto;
}
.navigationmenu{
    position: relative;
    min-height: 10%;
    min-width: 100%;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-shadow: 3px 2px 3px #333333;
    background-color: #8AD9FF;
    
    

}

.navigationmenu .navoption{

    min-height: 20%; 
    min-width: 25%;
    
}

footer{
    clear: left;
    position: relative;
    width: 100%;
    min-height: 10%;
    background-color: #3AD9FF;
}

body{
    position: relative;
    margin: 0px;
}







