
/*
mobile
*/
@media all and (max-width: 580px){
    .headermenu {
        display: none;
        height: 0px;
    }
    .headermenu {
        visibility: visible;
    }

}
/*
tablet
*/
@media all and (min-width: 580px) and (max-width: 1080px){
    .headermenu-mobile{
        display: none;
        height: 0px;
    }
    .headermenu {
        visibility: visible;
    }

}
/*
bigscreen
*/
@media all and (min-width: 1080px){
    .headermenu-mobile{
        display: none;
        height: 0px;
    }
    .headermenu {
        visibility: visible;

    }


}



.headermenu-mobile{
    border: 1px solid black;
    text-align: center;
    width: auto;
}
.headermenu{
    display: inline-block;
    height: 50px;
    width: 100%;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
    background-color: #8AD9FF;
    border-radius: 8px;
}
.headermenu a {
    text-decoration: none;
    color: #00F;
    padding: 8px 8px 8px 8px;
}
.headermenu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}
.headermenu li {
    display: inline;
    padding: 20px;
}







