
/*
mobile
*/
@media all and (max-width: 579px){
    .navigationmenu {
        display: none;
        height: 0px;
    }
    .navigationmenu {
        visibility: visible;
    }

}
/*
tablet
*/
@media all and (min-width: 580px) and (max-width: 1079px){
    .navigationmenu-mobile{
        display: none;
        height: 0px;
    }
    .navigationmenu {
        visibility: visible;
    }

}
/*
bigscreen
*/
@media all and (min-width: 1080px){
    .navigationmenu-mobile{
        display: none;
        height: 0px;
    }
    .navigationmenu {
        visibility: visible;

    }


}
body{
    top: 52px;
    position: relative;
    margin: 0px;
}
.navigationmenu-mobile{
    top: 0;
    height: 50px;
    position: fixed;
    border: 1px solid black;
    text-align: center;
    width: 100%;
    background-color: red;
}
.navigationmenu-mobile h2{
    margin-top: 10px;
}
.navigationmenu{
    position: fixed;
    top: 0px;
    height: auto;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    background-color: #8AD9FF;
}

.navigationmenu .navoption{
    float: left;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid black;
    height: 50%; 
    text-shadow: 3px 2px 3px #333333;
    width: 24.6%;
    
}
header{
    float: clear;
    display: block;
    background-color:cadetblue;  
}
header img{
    display: block;
    height: 300px;
    max-width: 100%;
    margin: auto;
}

footer{
    clear: left;
    position: bottom;
    margin-top: -16px;
    top: 80%;
    width: 100%;
    height: 20%;
    background-color: #3AD9FF;
}
footer .contact{
    padding: 50px;
    text-align: center;
}








